{% include 'navbar.html' %}

<div style="padding-top: 40px;">
    <h1>About Us</h1>
    <p>Gift Genie is your ultimate destination for effortless gift-giving🎁Our platform streamlines the gift-selection process, allowing anyone to find the perfect gift for their loved ones, no matter the occasion! Partnered with leading brands or offering our exclusive products, we ensure a diverse range of options. Users can purchase their chosen gift and add a personal touch with gift wrapping and a heartfelt note 💌 Plus if the recipient is also on GiftGenie, users can connect with their profile, making gift selection even more personalized. Join us in fostering meaningful connections through thoughtful gift-giving, made easy! 💜
    </p>
</div>

