{% include 'navbar.html' %}

<div style="padding-top: 40px;">
    <h1>Add Item</h1>
    <h5>Note: This section is only for testing database connection</h5>
    <form action="/item" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="specification">Specification:</label>
        <select id="specification" name="specification">
            {% for color in colors %}
                <option value="{{ color }}">{{ color }}</option>
            {% endfor %}
        </select><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" min="0" step="0.01" required><br>
        <label for="category">Category:</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select><br>
        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image" accept="image/*" required><br><br>
        <button type="submit">Add Item</button>
    </form>
</div>
