{% include 'navbar.html' %}

<!-- Add padding to the body to avoid overlapping with the fixed navbar -->
<div style="padding-top: 40px;">
    <h1>User Profile</h1>
    
    <h2>User Details</h2>
    <p>Name: {{ user.name }}</p>
    <p>Surname: {{ user.surname }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Birthday: {{ user.birthday }}</p>
    
    <h2>Order History</h2>
    {% if orders %}
        <ul>
            {% for order in orders %}
                <li>
                    <p>Order ID: {{ order._id }}</p>
                    <p>Total Price: {{ order.total_price }}</p>
                    <p>Items:</p>
                    <ul>
                        {% for item in order.items_ordered %}
                            <li>{{ item.name }} - {{ item.price }}</li>
                        {% endfor %}
                    </ul>
                    <p>Order Date: {{ order.date }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No orders found.</p>
    {% endif %}
</div>